<div id="popup-Anular" style="display:none">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-group">
                <label>Motivo</label>
                <div id="motivoAnulacion"></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 text-right">
            <div id="btnAnular"></div>
            <div id="btnCancelar"></div>
        </div>
    </div>
</div>
