body {
    background-color: #ecf0f1;
}

.banner {
    padding: 10px;
    border-top-left-radius: 1px !important;
    border-top-right-radius: 1px !important;
    background-color: #ffffff;
}

.dx-datagrid-headers {
    background: #cde4f9;
    color: #007acc;
    vertical-align: middle !important;
    font-weight: bold;
}
.dx-toolbar-items-container {
    background-color: transparent !important;
}
#gridExpedientes {
    height: 570px;
}
label {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:13px;
    font-weight:500;
}
.panelBack {
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.1);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    padding:20px;
    /*margin: 20px 0;*/
}
.panelSession {
    height:20px;
    color: #ffffff;
    font-weight:bold;
    font-size: 80%;   
}
.navbar {
    min-height: 35px;
}

.navbar-nav > li > a {
  padding-top: 8px;
  line-height: 20px;  
}

.navbar-inverse .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-nav > li > .dropdown-menu {
    margin-top: 14px;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
    background-color: transparent;
}
.jumbotron {
    margin-bottom: 0px;
}
.menu {
    /*background-color: #b5b5b5;*/
    border-radius: 5px;
    margin: auto; 
}
.menu a {
    color: #428bca;
    font-family: Cambria;
}
.menu a:hover {
    background-color: #428bca !important;
    color: #ffffff;
}
.btn-transparent-app {
    background: transparent !important;
    border: 0 !important;      
    padding: 0px;
    vertical-align: middle;
    /*border-radius: 3px;*/
    color: #333;
     border-bottom: 2px solid transparent;
       -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.btn-transparent-app:hover {
    background: rgba(208, 210, 211, 0.5);
    border-bottom: 2px solid #106ebe;
    color: #106ebe;
    /*-webkit-box-shadow: 0px 0px 1px rgba(0,0,0,.1);
    box-shadow: 0px 0px 1px rgba(0,0,0,.1);*/      
}

.btn-transparent-app:active {
    /*color: #e51c23;*/
    color: #106ebe;
    border-bottom: 2px solid #106ebe;
}

.dx-popup-title {
    background-color: #428bca;
    color: #ffffff;
}

.dx-popup-title .dx-closebutton .dx-icon {
    color: #ffffff;
}
.dx-texteditor {
    padding: 4px;
}
