@*<script src="~/Scripts/devextreme/1.Padre.js"></script>*@
<script src="~/Scripts/devextreme/2.Exped.js"></script>
@{
    ViewBag.Title = "Index";
}

<div class="panel panel-primary">
    <div class="panel-heading">        
        <h4 class="panel-title">
            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseET" aria-expanded="true" aria-controls="collapseOne">
                Control de Expedientes Técnicos
            </a>
        </h4>
    </div>
    <div class="panel-body panel-collapse collapse in" id="collapseET">
        @*<div class="row panelBack">*@
            <div class="row">
                <div class="col-xs-12">
                    <h4 style="font-weight: bold;">Filtros de Búsqueda</h4>
                    <small style="font-size:70%;"><i>(Utilize los siguientes filtros para agilizar su búsqueda)</i></small>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label>SNIP</label>
                        <div id="txtSnip"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label>Número HT</label>
                        <div id="txtNumeroHT"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3">
                    <div class="form-group">
                        <label>Estado</label>
                        <div id="cboEstado"></div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-3 text-right">
                    <div class="form-group">
                        <label>&nbsp;</label>
                        <div>
                            <button type="button" class="btn btn-primary " id="btnBuscar"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                            <button type="button" class="btn btn-default " id="btnLimpiar"><span class="glyphicon glyphicon-remove"></span> Limpiar</button>
                        </div>

                    </div>
                </div>
            </div>
            @*<div class="row">
                <div class="col-xs-12 text-right">
                    <button type="button" class="btn btn-primary btn-sm" id="btnBuscar"><span class="glyphicon glyphicon-search"></span> Buscar</button>
                    <button type="button" class="btn btn-default btn-sm" id="btnLimpiar"><span class="glyphicon glyphicon-remove"></span> Limpiar</button>
                </div>
            </div>*@
        @*</div>*@
    </div>
</div>
<div class="panel panel-primary">
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <div id="gridExpedientes"></div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="popup-DD" style="display: none"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="popup-prestamo" style="display: none"></div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <div id="popup-historial" style="display: none">
            <div id="gridHistorial"></div>
            <br />
        </div>
    </div>
</div>
<input class="form-control" type="hidden" id="et_selected" name="et_selected" value="" />

